* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem; 
    transition: 0.2s ease;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.card-container {
    display: flex;
    border-radius: 0.3125rem;
    width: 70%;
    min-height: 60%;
    border-radius: 0.625rem; 
    overflow: hidden;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    padding: 2.5rem; 
    color: white;
    gap: 1.875rem; 
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

img {
    width: 5rem; 
}

.card-heading {
    font-family: 'Big Shoulders Display';
    font-weight: 700;
    font-size: 2.5rem; 
}

.card-description {
    font-family: 'Lexend Deca';
    font-weight: 400;
    line-height: 2;
    font-size: 16px;
}

#sedan-card {
    background-color: hsl(31, 77%, 52%);
}

#suvs-card {
    background-color: hsl(184, 100%, 22%);
}

#luxury-card {
    background-color: hsl(179, 100%, 13%);
}

.card-button {
    width: 10rem;
    padding: 1rem;
    border-radius: 3.125rem; 
    border: 1px solid white;
    font-size: 1rem;
    letter-spacing: 0.075rem;
    font-family: 'Lexend Deca';
    font-weight: 400;
}

#sedan-button {
    color: hsl(31, 77%, 52%);
}

#suvs-button {
    color: hsl(184, 100%, 22%);
}

#luxury-button {
    color: hsl(179, 100%, 13%);
}

#sedan-button:hover {
    color: white;
    background-color: hsl(31, 77%, 52%);
    cursor: pointer;
}

#suvs-button:hover {
    color: white;
    background-color: hsl(184, 100%, 22%);
    cursor: pointer;
}

#luxury-button:hover {
    color: white;
    background-color: hsl(179, 100%, 13%);
    cursor: pointer;
}

@media (max-width: 768px) {
    body {
        margin: 15.625rem 0;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
    }

    #sedan-card {
        background-color: hsl(31, 77%, 52%);
    }

    #luxury-card {
        background-color: hsl(179, 100%, 13%);
    }
}
